@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    background-image: url("./Images/bg.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-size: 5rem;
    line-height: 1;
    margin:  0 2rem;
}

.countdown-el  {
    text-align:  center;
}

.countdown-el span {
    font-weight: lighter;
    font-size: 1.3rem;
}